*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #1B377B, #3B1250);
}

.list-container {
    background-color: #fff;
    min-height: 500px;
    min-width: 800px;
    margin: 50px auto 0;
}