*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom right, #1B377B, #3B1250);
}

.list-container {
    background-color: #fff;
    min-height: 200px;
    width: 500px;
    margin: 100px auto 0;
    padding-left: 25px;
    padding-top: 30px;
    border-radius: 10px;
}

.list-title {
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-content: center;
    margin-bottom: 15px;
}

.list-title p {
    display: flex;
    align-items: center;
}

.list-title img {
    width: 25px;
    margin-left: 8px;
}

.add-item > #add-task{
    width: 80%;
    height: 50px;
    border: 0px;
    border-radius: 30px;
    background-color: #EBEDEE;
    padding-left: 20px;
}

.add-item > #submit-button {
    color: #fff;
    font-size: 15px;
    width: 20%;
    height: 50px;
    border: 0;
    border-radius: 30px;
    background-color: #FF643B;
    margin-left: -50px;
}

#error-message {
    color: #b74855;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 5px;
    display: none;
}

#unordered-list {
    margin-top: 30px;
}

#unordered-list li {
    list-style-type: none;
    margin-left: 50px;
}